<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet" />
</head>
<body>
    Trump is leaving the white house ,he plans on leaving a cookie behind. Trump has entrusted you with his evil plan of adding salt at the end of the cookie to take revenge against Biden 
</body>
</html>