<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
   
</head>
<body style="background-color:black;">
    
    <p style="color: rgb(115, 175, 25);">
        Chandler entered into a magical forest(this website) by mistake. In order to get out, he will have to solve a small puzzle.
        In this magical forest there is an magical function which does some operations given two set of decimal numbers as input.
        Chandler will have to figure out what that function does and shout the answer.
        To make it easier, a sample EXAMPLE is hidden somewhere in the forest.
        He is very eager to see monica so help him find the route back to his home. 
        <br>
        <br>

        Question:
        magic([2,9,29,26,16,22,56,18],[15,6,15,19,17,4,44,11])=??
        <br>
        Answer is your flag(in CAPS);
    </p>
</body>
</html>