<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="index.js"></script>
</head>
<body>
	<h3>PUBLIC SERVICE ANNOUNCEMENT:</h3>
	Mr. Bean has encrypted your flag using a world renowned algorithm on the request of a private company. He has encrypted it character by character and now it's upto you to decode your flag and continue marching on towards victory!
	<br>
	<br>
	ENCRYPTED FLAG: <%=cipherText%>
	<!--C^31%129=(-->
</body>
</html>